.copyright {
	display: grid;
	padding: 31px 21px 24px;
	text-align: center;
}

.copyright__title {
	font-weight: 400;
}

.copyright__link {
	text-decoration: none;
	color: $white;
	font-weight: 700;

}
