.main-nav__list {
	@include reset("list");

	@media (min-width: $tablet-width) {
		display: flex;
		column-gap: 34px;
	}
}

.main-nav__list a {
	color: $white;
	text-decoration: none;
}

@media (min-width: $tablet-width) {
	.main-nav__wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 640px;
	}

	.main-nav__toggle {
		display: none;
	}
}

@media (min-width: $desktop-width) {
	.main-nav__wrapper {
		width: 960px;
	}
}
