.page-footer {
	background-color: $gray-dark;
	color: $white;
}

.page-footer__wrapper {
	margin: 0;
	display: grid;

	@media (min-width: $tablet-width) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: $desktop-width) {
		grid-template-columns: repeat(3, 1fr);
	}
}
