@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../static/fonts/ptsansnarrow-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../static/fonts/ptsansnarrow-bold.woff2") format("woff2");
	font-display: swap;
}
