// Colors
$black: #000000;
$white: #ffffff;

$brown: #826550;
$brown-dark: #6a4d38;
$brown-light: #d5c9bd;

$gray-light: #4a4a4a;
$gray: #252525;
$gray-dark: #292929;
$gray-extra-dark: #353535;

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
